:root {
  --background-page: var(--neutral-200);
  --background-surface: var(--neutral-300);
  --background-elevated: var(--neutral-50);
  --background-inverse: var(--neutral-1100);
  --background-alwaysLight: var(--neutral-200);
  --background-alwaysDark: var(--neutral-1100);
  --background-brand: var(--brand-500);
  --content-primary: var(--neutral-900);
  --content-secondary: var(--neutral-700);
  --content-tertiary: var(--neutral-500);
  --content-inverse: var(--neutral-50);
  --content-alwaysLight: var(--neutral-200);
  --content-alwaysDark: var(--neutral-1100);
  --content-brand: var(--brand-500);
  --border-primary: var(--neutral-500);
  --border-secondary: var(--neutral-400);
  --border-tertiary: var(--neutral-300);
  --border-brand: var(--brand-500);

  --neutral-50: #ffffff;
  --neutral-100: #f9fafb;
  --neutral-200: #f3f4f6;
  --neutral-300: #e5e7eb;
  --neutral-400: #d1d5db;
  --neutral-500: #9ca3af;
  --neutral-600: #6b7280;
  --neutral-700: #4b5563;
  --neutral-800: #374151;
  --neutral-900: #1f2937;
  --neutral-1000: #111827;
  --neutral-1100: #030712;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-1000: #450a0a;
  --brand-50: #e8f2ff;
  --brand-100: #d4e8ff;
  --brand-200: #a8d1ff;
  --brand-300: #7ab9ff;
  --brand-400: #4da2ff;
  --brand-500: #1f8bff;
  --brand-600: #007cf8;
  --brand-700: #0063cc;
  --brand-800: #004c9e;
  --brand-900: #003a75;
  --brand-1000: #022448;
}

[data-theme="dark"] {
  --background-page: var(--neutral-100);
  --background-surface: var(--neutral-200);
  --background-elevated: var(--neutral-50);
  --background-inverse: var(--neutral-900);
  --background-alwaysLight: var(--neutral-1000);
  --background-alwaysDark: var(--neutral-50);
  --background-brand: var(--brand-500);
  --content-primary: var(--neutral-1000);
  --content-secondary: var(--neutral-800);
  --content-tertiary: var(--neutral-600);
  --content-inverse: var(--neutral-50);
  --content-alwaysLight: var(--neutral-1000);
  --content-alwaysDark: var(--neutral-50);
  --content-brand: var(--brand-500);
  --border-primary: var(--neutral-400);
  --border-secondary: var(--neutral-300);
  --border-tertiary: var(--neutral-200);
  --border-brand: var(--brand-500);

  --neutral-50: #030712;
  --neutral-100: #151921;
  --neutral-200: #1f252e;
  --neutral-300: #2c333d;
  --neutral-400: #3a424d;
  --neutral-500: #4e5763;
  --neutral-600: #687281;
  --neutral-700: #8c96a3;
  --neutral-800: #b7bfc9;
  --neutral-900: #dce1e7;
  --neutral-1000: #f1f2f4;
  --neutral-1100: #ffffff;
  --red-50: #450a0a;
  --red-100: #7f1d1d;
  --red-200: #991b1b;
  --red-300: #b91c1c;
  --red-400: #dc2626;
  --red-500: #ef4444;
  --red-600: #f87171;
  --red-700: #fca5a5;
  --red-800: #fecaca;
  --red-900: #fee2e2;
  --red-1000: #fef2f2;
  --brand-50: #a5cfff;
  --brand-100: #8bc2ff;
  --brand-200: #72b4ff;
  --brand-300: #59a6ff;
  --brand-400: #3f97ff;
  --brand-500: #0077ff;
  --brand-600: #0063cc;
  --brand-700: #004c9e;
  --brand-800: #003a75;
  --brand-900: #002a52;
  --brand-1000: #00172e;
}
