:root {
  /* =========================
     NEUTRAL
  ========================= */
  --neutral-50: #f9fafb;
  --neutral-100: #f3f4f6;
  --neutral-200: #e5e7eb;
  --neutral-300: #d1d5db;
  --neutral-400: #9ca3af;
  --neutral-500: #6b7280;
  --neutral-600: #4b5563;
  --neutral-700: #374151;
  --neutral-800: #1f2937;
  --neutral-900: #111827;
  --neutral-1000: #0b1220;
  --neutral-1100: #030712;

  /* =========================
     BRAND
  ========================= */
  --brand-50: #eaf3ff;
  --brand-100: #d6e8ff;
  --brand-200: #add1ff;
  --brand-300: #85baff;
  --brand-400: #5ca3ff;
  --brand-500: #1f8bff;
  --brand-600: #0a7cf2;
  --brand-700: #0063cc;
  --brand-800: #004c9e;
  --brand-900: #003a75;

  --background-canvas: var(--neutral-200);
  --background-raised: var(--neutral-50);
  --background-inverse: var(--neutral-1000);
  --background-inverse-raised: var(--neutral-1100);
  --background-fixed-dark: var(--neutral-1000);
  --background-brand: var(--brand-500);
  --border-brand: var(--brand-500);
  --border-neutral: var(--neutral-400);
  --content-primary: var(--neutral-900);
  --content-secondary: var(--neutral-700);
  --content-inverse: var(--neutral-50);
  --content-brand: var(--brand-500);
  --content-fixed-light: var(--neutral-100);
}

[data-theme="dark"] {
  --background-canvas: var(--neutral-1000);
  --background-raised: var(--neutral-1100);
  --background-inverse: var(--neutral-50);
  --background-inverse-raised: var(--neutral-200);
  --background-fixed-dark: var(--neutral-1000);
  --background-brand: var(--brand-500);
  --border-brand: var(--brand-500);
  --border-neutral: var(--neutral-700);
  --content-primary: var(--neutral-200);
  --content-secondary: var(--neutral-400);
  --content-inverse: var(--neutral-1000);
  --content-brand: var(--brand-500);
  --content-fixed-light: var(--neutral-100);
}
