/* _spacing.scss */

:root {
  --gap-0: 0rem;
  --gap-3xs: 0.125rem;
  --gap-2xs: 0.25rem;
  --gap-xs: 0.5rem;
  --gap-sm: 0.75rem;
  --gap-md: 1rem;
  --gap-lg: 1.25rem;
  --gap-xl: 1.5rem;
  --gap-2xl: 2rem;
  --gap-3xl: 2.5rem;
  --padding-0: 0rem;
  --padding-3xs: 0.125rem;
  --padding-2xs: 0.25rem;
  --padding-xs: 0.5rem;
  --padding-sm: 0.75rem;
  --padding-md: 1rem;
  --padding-lg: 1.25rem;
  --padding-xl: 1.5rem;
  --padding-2xl: 2rem;
  --padding-3xl: 2.5rem;
  --margin-0: 0rem;
  --margin-3xs: 0.125rem;
  --margin-2xs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-sm: 0.75rem;
  --margin-md: 1rem;
  --margin-lg: 1.25rem;
  --margin-xl: 1.5rem;
  --margin-2xl: 2rem;
  --margin-3xl: 2.5rem;
  --layout-xs: 5rem;
  --layout-sm: 7.5rem;
  --layout-md: 10rem;
  --layout-lg: 12.5rem;
  --border-radius-0: 0rem;
  --border-radius-3xs: 0.125rem;
  --border-radius-2xs: 0.25rem;
  --border-radius-xs: 0.5rem;
  --border-radius-sm: 0.75rem;
  --border-radius-md: 1rem;
  --border-radius-lg: 1.25rem;
  --border-radius-xl: 1.5rem;
  --border-radius-2xl: 2rem;
  --border-radius-3xl: 2.5rem;
  --border-radius-circle: 12.5rem;
  --border-width-0: 0rem;
  --border-width-1: 0.063rem;
  --border-width-2: 0.125rem;
  --border-width-4: 0.25rem;
  --border-width-8: 0.5rem;
  --size-1: 0.063rem;
  --size-2: 0.125rem;
  --size-4: 0.25rem;
  --size-6: 0.375rem;
  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-22: 1.375rem;
  --size-24: 1.5rem;
  --size-26: 1.625rem;
  --size-28: 1.75rem;
  --size-30: 1.875rem;
  --size-32: 2rem;
  --size-34: 2.125rem;
  --size-36: 2.25rem;
  --size-38: 2.375rem;
  --size-40: 2.5rem;
  --size-42: 2.625rem;
  --size-44: 2.75rem;
  --size-46: 2.875rem;
  --size-48: 3rem;
  --size-50: 3.125rem;
  --size-52: 3.25rem;
  --size-54: 3.375rem;
  --size-56: 3.5rem;
  --size-58: 3.625rem;
  --size-60: 3.75rem;
  --size-62: 3.875rem;
  --size-64: 4rem;
  --size-66: 4.125rem;
  --size-68: 4.25rem;
  --size-70: 4.375rem;
  --size-72: 4.5rem;
  --size-74: 4.625rem;
  --size-76: 4.75rem;
  --size-78: 4.875rem;
  --size-80: 5rem;
  --container: 82.5rem;
}
